
@chatmain(null) {
    
    @if(flash.containsKey("error")) {
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>
        
    }
        
    <div class="alert-message block-message info">
        <p>
            <strong>Welcome to the Sostanok-Chat-Room!</strong>
        </p>
        
        <form action = @routes.TextchatApplication.chatRoom()>
            Join or create Chatroom :
            <input id="name" name="roomName" type="text" placeholder="name">
			</input>
            <button class="btn" type="submit">Join/Create</button>
         </form>
        
        
    </div>
    
}
