extends layout

block content
    .alert-message.block-message.info
        p <strong>Welcome to the Sostanok Chat-Room</strong>!
            form(
                method="Post"
                action = "/chat"
            )
                | Join or create Chatroom
                input(
                    id = "name"
                    name = "roomname"
                    type = "text"
                    placeholder = "name"
                )
                button(
                    class = "btn"
                    type = "submit"
                ).
                    Join/Create
