doctype html
html(lang = "en")
    head
        title Sostanok Chat-Room
        link(rel='stylesheet', media="screen", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        link(rel='stylesheet', media="screen", href='/styles/main.css')
        //link(rel="styleSheet", href='/stylesheets/bootstrap.css')
        script(
            src = "//code.jquery.com/jquery-1.11.2.min.js"
        )
        block scripts
        block styles
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a(
                        href = "/"
                        class="navbar-brand"
                    ) Sostanok Chat-Room
                    if (user != null)
                        .pull-right
                            | logged in as #{user} -
                            a(
                                href = "/"
                            ) Disconnect
        .container
            .content
                block content
        footer.container