extends layout

block content
    .page-header
            h1
               #{room} #{userName}
                    #onError.alert-message.error
                        p <strong>Oops!</Strong>
                        span

               #onChat.row
                    #span10.main
                        #messages
                            textarea(id = "talk").

                    .span4
                        h2 Members
                            ul
                                each val in members
                                    li = .members val
