extends layout

block scripts
    script(
        src="/scripts/chatRoom.js"
    )
    script(
        src="/scripts/socket.io-1.1.0.js"
    )
block content

    .page-header
        h1 #{roomname}
    .chat-frame
        #onError.alert-message.error.hidden
            p <strong>Oops!</Strong>
                span Something went wrong...
        #onChat.row.hidden
            .col-md-8
                #messages
                textarea(id = "talk", class = "form-control")
            .col-md-4
                h2 Members
                ul#members
                    each val in members
                        li.members= val